<form
  [formGroup]="addStudentReactiveForm"
  (ngSubmit)="addStudent(addStudentReactiveForm)"
  id="addStudentForm"
  *ngIf="!isUpdateStudentForm"
>
  <div class="form-group">
    <label for="exampleInputEmail1">Student ID</label>
    <input
      formControlName="student_id"
      type="text"
      [ngClass]="getClass(addStudentReactiveForm, 'student_id')"
      id="exampleInputEmail1"
      aria-describedby="emailHelp"
      placeholder="Enter student id"
    />
    <small
      *ngIf="
        addStudentReactiveForm.get('student_id').invalid &&
        addStudentReactiveForm.get('student_id').touched
      "
      class="text-danger l-1"
    >
      Student ID is required and must have format like UGR/4425/12</small
    >
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Name</label>
    <input
      formControlName="name"
      type="text"
      [ngClass]="getClass(addStudentReactiveForm, 'name')"
      id="exampleInputEmail1"
      aria-describedby="emailHelp"
      placeholder="Enter name"
    />
    <small
      *ngIf="
        addStudentReactiveForm.get('name').invalid &&
        addStudentReactiveForm.get('name').touched
      "
      class="text-danger l-1"
    >
      Student name is required and must have atleast 6 characters</small
    >
  </div>

  <div class="form-group">
    <label for="campus">Campus</label>
    <select
      formControlName="campus"
      id="campus"
      [ngClass]="getClass(addStudentReactiveForm, 'campus')"
    >
      <option [ngValue]="null" [disabled]="true">Select campus</option>
      <option value="4killo">4 kilo</option>
      <option value="5killo">5 kilo</option>
      <option value="6killo">6 kilo</option>
    </select>
    <small
      *ngIf="
        addStudentReactiveForm.get('campus').invalid &&
        addStudentReactiveForm.get('campus').touched
      "
      class="text-danger l-1"
    >
      Please select campus</small
    >
  </div>

  <div class="form-group">
    <label for="department">Departement</label>
    <select
      formControlName="department"
      id="department"
      [ngClass]="getClass(addStudentReactiveForm, 'department')"
    >
      <option [ngValue]="null" [disabled]="true">Select Departement</option>
      <option value="Software Engineering">Software Engineering</option>
      <option value="Electrical Engineering">Electrical Engineering</option>
      <option value="Mechanical Engineering">Mechanical Engineering</option>
      <option value="Biomedical Engineering">Biomedical Engineering</option>
      <option value="Civil Engineering">Civil Engineering</option>
      <option value="Chemical Engineering">Chemical Engineering</option>
      <option value="Other">Other</option>
    </select>

    <small
      *ngIf="
        addStudentReactiveForm.get('department').invalid &&
        addStudentReactiveForm.get('department').touched
      "
      class="text-danger l-1"
    >
      Please select department</small
    >
  </div>

  <div class="form-group">
    <label for="bach">Year Of Study</label>
    <select
      formControlName="bach"
      id="bach"
      [ngClass]="getClass(addStudentReactiveForm, 'bach')"
    >
      <option [ngValue]="null" [disabled]="true">Select year</option>
      <option value="1">First</option>
      <option value="2">Second</option>
      <option value="3">Third</option>
      <option value="4">Fourth</option>
      <option value="5">Fifth</option>
    </select>

    <small
      *ngIf="
        addStudentReactiveForm.get('bach').invalid &&
        addStudentReactiveForm.get('bach').touched
      "
      class="text-danger l-1"
    >
      Please select year</small
    >
  </div>

  <div class="form-group">
    <label for="exampleInputEmail1">Section</label>
    <input
      formControlName="section"
      type="number"
      [ngClass]="getClass(addStudentReactiveForm, 'section')"
      id="name"
      aria-describedby="emailHelp"
      placeholder="Enter section"
    />
  </div>
  <small
    *ngIf="
      addStudentReactiveForm.get('section').invalid &&
      addStudentReactiveForm.get('section').touched
    "
    class="text-danger l-1"
  >
    Section is required</small
  >
  <!-- <div class="form-group">
	<label for="exampleInputPassword1">Password</label>
	<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
  </div> -->
  <div class="text-center" style="margin-top: 30px">
    <button
      [disabled]="addStudentReactiveForm.invalid"
      type="submit"
      class="btn btn-primary"
    >
      Add
    </button>
  </div>
</form>

<span class="modal-basic-title"></span>

<form
  [formGroup]="updateStudentReactiveForm"
  (ngSubmit)="updateStudent(updateStudentReactiveForm)"
  id="updateStudentForm"
  *ngIf="isUpdateStudentForm"
>
  <div class="form-group">
    <label for="exampleInputEmail1">Student ID</label>
    <input
      formControlName="student_id"
      type="text"
      [ngClass]="getClass(updateStudentReactiveForm, 'student_id')"
      id="exampleInputEmail1"
      aria-describedby="emailHelp"
      placeholder="Enter student id"
    />
    <small
      *ngIf="
        updateStudentReactiveForm.get('student_id').invalid &&
        updateStudentReactiveForm.get('student_id').touched
      "
      class="text-danger l-1"
    >
      Student ID is required and must have format like UGR/4425/12</small
    >
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Name</label>
    <input
      formControlName="name"
      type="text"
      [ngClass]="getClass(updateStudentReactiveForm, 'name')"
      id="exampleInputEmail1"
      aria-describedby="emailHelp"
      placeholder="Enter student name"
    />
    <small
      *ngIf="
        updateStudentReactiveForm.get('name').invalid &&
        updateStudentReactiveForm.get('name').touched
      "
      class="text-danger l-1"
    >
      Student name is required and must have atleast 6 characters</small
    >
  </div>

  <div class="form-group">
    <label for="campus">Campus</label>
    <select
      formControlName="campus"
      id="campus"
      [ngClass]="getClass(updateStudentReactiveForm, 'campus')"
    >
      <option [ngValue]="null" [disabled]="true">Enter campus</option>
      <option value="4killo">4 kilo</option>
      <option value="5killo">5 kilo</option>
      <option value="6killo">6 kilo</option>
    </select>
    <small
      *ngIf="
        updateStudentReactiveForm.get('campus').invalid &&
        updateStudentReactiveForm.get('campus').touched
      "
      class="text-danger l-1"
    >
      Please select campus</small
    >
  </div>

  <div class="form-group">
    <label for="department">Departement</label>
    <select
      formControlName="department"
      id="department"
      [ngClass]="getClass(updateStudentReactiveForm, 'department')"
    >
      <option [ngValue]="null" [disabled]="true">Select Departement</option>
      <option value="Software Engineering">Software Engineering</option>
      <option value="Electrical Engineering">Electrical Engineering</option>
      <option value="Mechanical Engineering">Mechanical Engineering</option>
      <option value="Biomedical Engineering">Biomedical Engineering</option>
      <option value="Civil Engineering">Civil Engineering</option>
      <option value="Chemical Engineering">Chemical Engineering</option>
      <option value="Other">Other</option>
    </select>

    <small
      *ngIf="
        updateStudentReactiveForm.get('department').invalid &&
        updateStudentReactiveForm.get('department').touched
      "
      class="text-danger l-1"
    >
      Please select department</small
    >
  </div>
  <div class="form-group">
    <label for="bach">Year Of Study</label>
    <select
      formControlName="bach"
      id="bach"
      [ngClass]="getClass(updateStudentReactiveForm, 'bach')"
    >
      <option [ngValue]="null" [disabled]="true">Select year</option>
      <option value="1">First</option>
      <option value="2">Second</option>
      <option value="3">Third</option>
      <option value="4">Fourth</option>
      <option value="5">Fifth</option>
    </select>

    <small
      *ngIf="
        updateStudentReactiveForm.get('bach').invalid &&
        updateStudentReactiveForm.get('bach').touched
      "
      class="text-danger l-1"
    >
      Please select year</small
    >
  </div>

  <div class="form-group">
    <label for="exampleInputEmail1">Section</label>
    <input
      formControlName="section"
      type="number"
      [ngClass]="getClass(updateStudentReactiveForm, 'section')"
      id="name"
      aria-describedby="emailHelp"
      placeholder="Enter Section"
    />
    <small
      *ngIf="
        updateStudentReactiveForm.get('section').invalid &&
        updateStudentReactiveForm.get('section').touched
      "
      class="text-danger l-1"
    >
      Section is required</small
    >
  </div>
  <div class="text-center" style="margin-top: 30px">
    <button
      [disabled]="updateStudentReactiveForm.invalid"
      type="submit"
      class="btn btn-primary"
    >
      Update
    </button>
  </div>
</form>
