<ng-template #mymodal let-modal>
    <div class="modal-header">
      <h4 class="modal-title d-flex justify-content-center" class="modal-basic-title">{{modalTitle}}</h4>
      <button id="closeModal" type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">
          <button type="button" class="close" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </span>
      </button>
    </div>
    <div class="modal-body">
      <app-add-edit-schedule></app-add-edit-schedule>
    </div>
  </ng-template>
  
  <nav class="navbar-specific navbar navbar-light bg-white">
      <a class="navbar-brand">Schedules</a>
      <form class="form-inline">
        <input name="scheduleIdFilter" [(ngModel)]="scheduleIdFilter" (keyup)="filterSchedule()" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      </form>
    </nav>
    <hr>
    
    <table class="table table-striped">
      <thead>
		
		<th>Campus</th>
        <th>Departement</th>
        <th>Batch</th>
        <th>Section</th>
        <th>Day</th>
        <th>StartTime</th>
		<th>EndTime</th>
      </thead>
      <tbody>
        <tr *ngFor="let schedule of scheduleList">
			<td>{{schedule.campus}}</td>
            <td>{{schedule.department}}</td>
            <td>{{schedule.bach}}</td>
			<td>{{schedule.section}}</td>
			<td>{{schedule.day}}</td>
			<td>{{schedule.startTime}}</td>
      <td>{{schedule.endTime}}</td>
            <td>
                <button (click)="open(mymodal, 'Update Schedule', 'Add', schedule)" type="button" class="btn btn-light mr-1" style="margin-right:10px;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="blue" class="bi bi-pencil-square" viewBox="0 0 16 16">
    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
  </svg>
                </button>
                <button (click)="deleteSchedule(schedule)" type="button" class="btn btn-light mr-1">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red" class="bi bi-trash-fill" viewBox="0 0 16 16">
                    <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                  </svg>
                </button>
            </td>
        </tr>
      </tbody>
    </table>

    <h6 *ngIf="scheduleIdFilter != '' && scheduleList.length==0" style="width:100%;text-align:center;margin-top: 20px;">No match found!</h6>
  <h6 *ngIf="scheduleIdFilter == '' && scheduleList.length==0" style="width:100%;text-align:center;margin-top: 20px;">No student found on the system!</h6>
   
    
    <!-- Button trigger modal -->
  <div class="text-center" style="margin-top: 20px;">
      <button type="button" data-toggle="modal" data-target="#exampleModal" class="btn btn-lg btn-outline-primary" 
  (click)="open(mymodal, 'Add Schedule', 'Add')">
  <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="green" class="bi bi-plus-lg" viewBox="0 0 16 16">
    <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"/>
  </svg></button>
  </div>
  
 