<form>
  <div class="form-group">
	<label for="exampleInputEmail1">Department</label>
	<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Department">
  </div>
  <div class="form-group">
	<label for="exampleInputEmail1">Section</label>
	<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Section">
  </div>
  <div class="form-group">
	<label for="exampleInputPassword1">Campus</label>
	<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Campus">
  </div>
   <div class="form-group">
	<label for="exampleInputPassword1">Day</label>
	<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Day">
  </div>
  <div class="form-group">
	<label for="exampleInputPassword1">Time</label>
	<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Time">
  </div>
  <div class="text-center">
	<button type="submit" class="btn btn-primary">Add</button>
  </div>
</form>