<ng-template #mymodal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Add User</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    This is example from ItSolutionStuff.com
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Add</button>
  </div>
</ng-template>

<nav class="navbar-specific navbar navbar-light bg-white">
    <a class="navbar-brand">Users</a>
    <form class="form-inline">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    </form>
  </nav>
  <hr>
  
  <table class="table table-striped">
    <thead>
      <th>Name</th>
      <th>Username</th>
      <th>Options</th>
    </thead>
    <tbody>
      <tr *ngFor="let user of userList">
          <td>{{user.name}}</td>
          <td>{{user.username}}</td>
          <td>
              <button type="button" class="btn btn-light mr-1">
                  Edit
              </button>
              <button type="button" class="btn btn-light mr-1">
                Delete
              </button>
          </td>
      </tr>
    </tbody>
  </table>
  
  <!-- Button trigger modal -->
<button class="btn btn-lg btn-outline-primary" (click)="open(mymodal)">Add User</button>
   