<form (ngSubmit)="addStudent(addStudentForm)" #addStudentForm=ngForm id="addStudentForm" *ngIf="!isUpdateStudentForm">
  <div class="form-group">
	<label for="exampleInputEmail1">Student ID</label>
	<input ngModel name="student_id" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter student id">
  </div>
  <div class="form-group">
	<label for="exampleInputEmail1">Name</label>
	<input ngModel name="name" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter name">
  </div>
  <div class="form-group">
  <label for="department">Departement</label>
	<select ngModel name="department" id="department" class="form-control">
    <option value="software engineer">Software Engineering</option>
    <option value="electrical Engineer">Electrical Engineering</option>
    <option value="mechanical Engineer">Mechanical Engineering</option>
    <option value="biomedical Engineer">Biomedical Engineering</option>
    <option value="civil Engineer">Civil Engineering</option>
    <option value="chemical Engineer">Chemical Engineering</option>
  </select>
  </div>



  <div class="form-group">
  <label for="bach">Year Of Study</label>
	<select ngModel name="bach" id="bach" class="form-control">
    <option [ngValue]="null" [disabled]="true" >Enter year</option>
    <option value="1">First</option>
    <option value="2">Second</option>
    <option value="3">Third</option>
    <option value="4">Fourth</option>
    <option value="5">Fifth</option>
  </select>

  </div>

  <div class="form-group">
  <label for="campus">Campus</label>
  <select ngModel name="campus" id="campus" class="form-control">
    <option [ngValue]="null" [disabled]="true" >Enter campus</option>
    <option value="4killo">4 kilo</option>
    <option value="5killo">5 kilo</option>
    <option value="6killo">6 kilo</option>
  </select>

  </div>
  <div class="form-group">
  <label for="exampleInputEmail1">Section</label>
	<input ngModel name="section" type="number" class="form-control" id="name" aria-describedby="emailHelp" placeholder="Enter section">
  </div>
  <!-- <div class="form-group">
	<label for="exampleInputPassword1">Password</label>
	<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
  </div> -->
  <div class="text-center" style="margin-top: 30px;">
	<button type="submit" class="btn btn-primary">Add</button>
  </div>
</form>

<span class="modal-basic-title"></span>


<form (ngSubmit)="updateStudent(updateStudentForm)" #updateStudentForm=ngForm id="updateStudentForm" *ngIf="isUpdateStudentForm">
  <div class="form-group">
	<label for="exampleInputEmail1">Student ID</label>
	<input ngModel={{student.student_id}} name="student_id" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter student id">
  </div>
  <div class="form-group">
	<label for="exampleInputEmail1">Name</label>
	<input ngModel={{student.name}} name="name" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter student name">
  </div>
  <div class="form-group">
    <label for="department">Departement</label>
    <select ngModel={{student.department}} name="department" id="department" class="form-control">
      <option value="software engineer">Software Engineering</option>
      <option value="electrical Engineer">Electrical Engineering</option>
      <option value="mechanical Engineer">Mechanical Engineering</option>
      <option value="biomedical Engineer">Biomedical Engineering</option>
      <option value="civil Engineer">Civil Engineering</option>
      <option value="chemical Engineer">Chemical Engineering</option>
    </select>
    </div>
    <div class="form-group">
      <label for="bach">Year Of Study</label>
      <select ngModel={{student.bach}} name="bach" id="bach" class="form-control">
        <option [ngValue]="null" [disabled]="true" >Enter year</option>
        <option value="1">First</option>
        <option value="2">Second</option>
        <option value="3">Third</option>
        <option value="4">Fourth</option>
        <option value="5">Fifth</option>
      </select>
    
      </div>
      <div class="form-group">
        <label for="campus">Campus</label>
        <select ngModel={{student.campus}} name="campus" id="campus" class="form-control">
          <option [ngValue]="null" [disabled]="true" >Enter campus</option>
          <option value="4killo">4 kilo</option>
          <option value="5killo">5 kilo</option>
          <option value="6killo">6 kilo</option>
        </select>
      
        </div>
  <div class="form-group">
  <label for="exampleInputEmail1">Section</label>
	<input ngModel={{student.section}} name="section" type="number" class="form-control" id="name" aria-describedby="emailHelp" placeholder="Enter Section">
  </div>
  <!-- <div class="form-group">
  <label for="exampleInputPassword1">Password</label>
  <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
  </div> -->
  <div class="text-center" style="margin-top: 30px;">
  <button type="submit" class="btn btn-primary">Update</button>
  </div>
</form>
