<form>
  <div class="form-group">
	<label for="exampleInputEmail1">ID</label>
	<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter ID">
  </div>
  <div class="form-group">
	<label for="exampleInputEmail1">Name</label>
	<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Name">
  </div>
  <div class="form-group">
	<label for="exampleInputPassword1">Campus</label>
	<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Campus">
  </div>
  <div class="text-center">
	<button type="submit" class="btn btn-primary">Add</button>
  </div>
</form>