/* You can add global styles to this file, and also import other style files */
.main-header {
    max-height: 100px;
    min-width: 100%;
	box-sizing: border-box;
}

.main-header img {
    max-height: 100px;
    width: 100%;
}