/* You can add global styles to this file, and also import other style files */
.main-body-back, .main-header-back{
	z-index:-10;
}

.main-body-back{
	max-width: 100%;
	z-index: -12;
}
img.main-header-back {
    max-height: 100px;
	width: 100%;
}